/* ---------- Default Styling --------- */

body {
  text-align: center;
  background-color: #404040;
}

#timer {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
  margin: 1.2%;
  color: #fef2bf;
}

#timer span {
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: 1rem;
  padding: 3px 4px;
  margin: 0% 0.2%;
  border: 1px solid #fef2bf;
  border-radius: 10%;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 2% 5% 2% 5%;
  color: #fef2bf;
}

#strike-count {
  font-family: "Press Start 2P", cursive;
  font-size: 1.1rem;
  margin: 1.2% 10% 1.2% 10%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.action {
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-block;
  padding: 7.5px;
  border: 1px solid #fef2bf;
  border-radius: 10%;
  transition: all ease 0.4s;
}

.action:hover {
  background: #fef2bf;
  color: #404040;
  border-radius: 16%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 160px;
  width: 160px;
  border: 10px solid black;
  border-radius: 20%;
  transition: border 0.3s;
}

.btn:hover {
  border: 10px solid #fef2bf;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.pink {
  background-color: #ffb6c1;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: #734f96;
}

.by {
  font-size: 18px;
  margin: 40px 0 70px 0;
  color: #fef2bf;
  font-family: sans-serif;
}

.by a {
  color: #fef2bf;
  transition: all ease 0.3s;
}

.by a:hover {
  text-decoration: none;
}



/* ---------- Classes To Be Added --------- */

.game-over {
  background-color: red;
  opacity: 0.8;
}

.correct {
  background-image: url("https://cdn.glitch.global/bbe74dd5-384d-4e23-a294-5349cf89ef29/star.png?v=1650664252858");
  background-size: 100%;
  box-shadow: 0 0 20px gold;
  background-color: gold;
  border: 10px solid gold !important;
}

.wrong {
  background-image: url("https://cdn.glitch.global/bbe74dd5-384d-4e23-a294-5349cf89ef29/wrong.jpg?v=1650667326531");
  background-size: 100%;
  box-shadow: 0 0 20px red;
  background-color: red;
  border: 10px solid red !important;
}